coverage
dist
node_modules
package-lock.json
pnpm-lock.yaml
*.log
.*
!.babelrc.json
!.editorconfig
!.eslintignore
!.eslintrc.json
!.gitattributes
!.github
!.gitignore
!.husky
!.ncurc.js
!.npmignore
!.README
!.releaserc
!.vscode