coverage
dist
node_modules
package-lock.json
pnpm-lock.yaml
*.log
.*
!.babelrc.json
!.editorconfig
!.eslintrc.json
!.eslintignore
!.gitignore
!.npmignore
!.README
!.travis.yml
!.ncurc.js
!.github
!.husky
