os: linux
dist: xenial
language: node_js
node_js:
  # - "16"
  # - "14.14.0"
  - "12.20.0"
install:
  - echo "Avoid Travis's npm auto-install"
before_script: >
  npm install --legacy-peer-deps --no-save "eslint@${ESLINT}"
notifications:
  email: false
script:
  - npm run test
  - npm run lint
  - npm run build
env:
  jobs:
    - ESLINT=8
    - ESLINT=7
after_success:
  - export NODE_ENV=production
  - npm run build
  - semantic-release
cache:
  npm: false
