jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: setup repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
      - run: pnpm install
      - run: pnpm build
    timeout-minutes: 10
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: setup repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
      - run: pnpm install
      - run: pnpm build
      - run: pnpm lint
    timeout-minutes: 10
  test:
    name: Test (Node.js ${{ matrix.node_js_version }})
    runs-on: ubuntu-latest
    steps:
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: setup repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: '${{ matrix.node_js_version }}'
      - run: pnpm install
      - run: pnpm test
    strategy:
      fail-fast: false
      matrix:
        node_js_version:
          - '18'
          - '20'
          - '22'
    timeout-minutes: 10
name: Lint, test and build
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
