jobs:
  release:
    runs-on: ubuntu-latest
    environment: release
    name: Release
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: setup repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: setup node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org/'
      - run: pnpm install
      - run: pnpm build
      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
name: Build and release
on:
  push:
    branches:
      - main
